body{
    background-color:black;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
    gap: 30px;
}
a{
    text-decoration: none;
    font-size: 1.25rem;
    color: red;
    font-family: 'Alfa Slab One', cursive;
}
a:hover{
    font-size: 1.67rem;
    transition: ease 1s;
}
h1{
    color:red;
    font-size:5rem
}
h2{
    color:red;
    font-size:3rem
}